# production | development
NODE_ENV = development

# *optional* custom port (the default port is 8080)
PORT = 

# API Key for authentication (generate a secure random string)
API_KEY = your-secret-api-key-here

# lk21 (layarkaca21) url
LK21_URL = https://tv15.lk21official.my

# nontondrama url
ND_URL = https://tv3.nontondrama.my
DL_URL = https://tv15.lk21official.my
